@media(max-width: 1440px) {
    .sec__about {
        font-size: 4rem;
        line-height: 6rem;
        margin: 6rem 0;
    }

    .sec__card-txt {
        font-size: 2rem;
        line-height: 3rem;
    }

    .sec__card-txt br {
        display: none;
    }

    .thr {
        row-gap: 4rem;
    }

    .ftr {
        row-gap: 3rem;
    }

    .ftr__name {
        font-size: 20rem;
        line-height: 19rem;
        max-width: 80%;
    }

    .thr__projects {
        max-width: 80rem;
    }

    .svn__txt {
        font-size: 2rem;
        line-height: 3rem;
    }

    .eig {
        padding: 5rem;
    }

    .eig__title {
        font-size: 13rem;
        line-height: 13rem;
    }

    .tn__title {
        font-size: 8rem;
        line-height: 8rem;
    }

    .tn__about {
        font-size: 3rem;
        line-height: 5rem;
    }

    .thrt__about {
        font-size: 3rem;
        line-height: 5rem;
    }

    .person {
        row-gap: 2rem;
    }

    .person .first__scroll {
        display: none;
    }

    .elv__title {
        font-size: 20rem;
    }


}